

.container-cards{
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20% 20%; 
    width: 80%;
    margin: 3% auto auto auto;
    
}


.container-card{
    display:grid;  
    border-radius: 5px;
    margin: auto auto;
    background-color: #ffffff;
    margin: 0 1%;
    border: 0.01rem solid grey;
    height: 390px;
    margin:2% 1%;
    box-sizing: border-box;
}
.contenedorImagen{
    width:12em;
  
    margin: auto auto; 
}
#image{
    display: block;
    margin: auto auto;
    width: 170px;
    height: 260px;
    object-fit: cover;
    
}

.selectKg{
    border-radius:10px;
    font-size:1.3rem;
    font-family: sans-serif;
}

.container-letters {
    align-items: center;
   width:100%;
    margin:auto auto;
    display:flex;
    justify-content: space-evenly;
    
    
}
.letters{
    font-size:1.3rem;
    font-family: sans-serif;
}
.item{
    margin:3px 0;
}
#nombre{
    font-size:1.2rem;
}

#container-precio{
 
    border-radius:9px;
    background-color:#ffff70;
    width:100%;
    text-align: center;
}
.comprar{
    display:none;
    margin: 0 auto; 
    width: 100%;
    text-align: center;
}





@media (max-width: 1550px ) {
    .container-cards{
        grid-template-columns: 25% 25% 25% 25%;
    }

}
@media (max-width: 1150px ) {
    .container-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (max-width: 500px ) {
    .container-cards{
        grid-template-columns: 1fr;
    }

}



